doctype html
head
  meta(charset='UTF-8')
  title Onix-nodejs-test
  link(rel='stylesheet' type='text/css' href='style.css')
  script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
body
  .wrapper.flex
    .header.flex
      form
        input(type="text" placeholder="Enter a city" id="inputField")
        input(type="submit" value="Get weather" id="submitButton")
    .content.flex


  script(src='script.js')
