<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="display: flex; justify-content: center; flex-direction: column;">
    <h1 style="align-self: center;"> Register</h1>
    <!-- Error box -->
    <% if (locals.error) { %> 
        <%- include('../error.ejs', error); %>
    <% };%>

    <form action="/auth/register" method="POST" 
    style="display: flex; flex-direction: column; align-self: center; margin-bottom: 5px;">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label for="name">Name</label>
        <input type="text" name="name" required value="Super Admin">
        <label for="email">Email</label>
        <input type="text" name="email" required value="admin@admin.com">
        <label for="password">Password</label>
        <input type="text" name="password" required value="admin123456">
        <br>
        <input type="submit">
    </form>
    <a href="/auth/login"  style="align-self: center;">Login</a>
</body>
</html>